/* Ajustes específicos para dispositivos móveis */

@media (max-width: 768px) {

    /* Ajuste do formulário na página de contato */
    form {
        max-width: 85%;
        /* O formulário ocupará 85% da largura da tela */
    }

    .carousel-images img {
        width: 100%;
        /* Garante que as imagens do carrossel fiquem responsivas */
        height: auto;
    }

    .content-section {
        flex-direction: column !important; /* Força a direção para coluna */
        align-items: center !important; /* Centraliza os itens */
    }

    .section-image {
        order: 1; /* A imagem vem primeiro */
        width: 95% !important; /* Faz a imagem ocupar toda a largura */
        max-width: 100%; /* Limita a largura máxima */
        height: auto; /* Mantém a proporção da imagem */
    }

    .section-text {
        order: 2; /* O texto vem depois da imagem */
        text-align: center; /* Centraliza o texto */
        width: 95% !important; /* Faz o texto ocupar toda a largura */
        padding: 10px; /* Ajusta o padding para o texto */
        box-sizing: border-box; /* Inclui padding na largura total */
    }

    .section-text p {
        text-align: justify;
    }

    .header {
        display: flex;
        flex-direction: column;
        /* Empilha os itens verticalmente */
        justify-content: center;
        /* Centraliza o conteúdo no eixo vertical */
        align-items: center;
        /* Centraliza os itens no eixo horizontal */
        padding: 20px 0;
        /* Adiciona padding para aumentar o espaçamento vertical */
        text-align: center;
    }

    .header .logo {
        width: auto;
        height: 60px;
        /* Ajusta a altura do logo */
        margin-bottom: 10px;
        /* Espaço entre logo e o nome */
    }

    .header .nome {
        margin-bottom: 10px;
        /* Espaço entre o nome e o botão */
        font-size: 1.5rem;
        /* Tamanho ajustado da fonte */
    }

    .btn-contact,
    .button-back,
    .menu-hamburguer {
        display: block; /* Mostra os elementos no mobile */
        width: 100%; /* Faz os elementos ocuparem toda a largura disponível */
        text-align: center; /* Centraliza o conteúdo */
        position: relative; /* Para mobile, posicione normalmente */
        top: auto; /* Remove o top */
        right: auto; /* Remove o right */
    }

    /* Ajuste do footer para telas menores */
    footer {
        font-size: 1rem;
        /* Deixa o texto do footer com um tamanho legível */
        padding: 15px;
        /* Aumenta o padding para melhorar a área de toque */
    }
}