
/* Estilo base para body */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background: url('/img/bg-index.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Container principal do conteúdo */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos gerais para sections */
main section {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para os títulos das sections */
main section h2 {
    font-size: 24px;
    color: #2c3e50;
    margin-bottom: 10px;
    text-align: center;
}

/* Estilo para os parágrafos */
main section p, main section ul {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}

/* Estilo para os itens de lista */
main section ul li {
    margin-bottom: 8px;
}

/* Estilo para o header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: rgb(250, 250, 250);
    width: 100%;
    box-sizing: border-box;
}

.logo-nome {
    display: flex;
    align-items: center;
}

.logo {
    background-color: white;
    border-radius: 5px;
    height: 50px;
    margin-right: 15px;
}

.nome {
    font-size: 1.5em;
    font-weight: bold;
}

/* Estilo para o rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    font-size: 1rem;
    box-sizing: border-box;
}

/* Social media links */
.social-media a {
    margin: 10px;
    color: white;
}

/* Estiliza a scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #333;
}

::-webkit-scrollbar-thumb {
    background: #334B82;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #475D8E;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    body {
        flex-direction: column;
        background-size: cover;
        background-attachment: scroll;
    }

    main section {
        width: 100%;
        padding: 10px;
    }

    .header {
        flex-direction: column;
        padding: 10px;
    }

    .carousel-images img {
        width: 100%;
        height: auto;
        display: block;
    }

    footer {
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    main section {
        width: 90%;
        padding: 10px;
    }

    h2 {
        font-size: 18px;
    }

    p, li {
        font-size: 14px;
    }
}
