/* Estilo base para body */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    /* Remove o scroll lateral */
    background: url('/img/bg-index.png');
    background-size: cover;
    /* Faz o background preencher a página inteira */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Mantém o background fixo quando a página rola */
}

/* Container principal do conteúdo */
main {
    flex: 1;
    /* Ocupa o espaço restante entre o header e o footer */
    display: flex;
    flex-direction: column;
    /* Permite adicionar seções verticalmente */
    align-items: center;
    /* Centraliza as seções horizontalmente */
}

/* Estilos gerais para sections */
main section {
    background-color: rgba(255, 255, 255, 0.8); /* Caixa quase transparente */
    border-radius: 8px;
    margin: 20px auto;
    display: flex;
    flex-direction: column; /* Faz o conteúdo ficar em coluna */
    align-items: center;
    padding: 20px;
    margin: 20px 0;
    /* Espaço entre as seções */
    width: 100%;
    /* Faz a seção ocupar toda a largura disponível */
    max-width: 1200px;
    /* Limita a largura máxima para não esticar demais */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para os títulos das sections */
main section h2 {
    font-size: 24px;
    color: #2c3e50;
    margin-bottom: 10px;
    text-align: center;
}

/* Estilo para os parágrafos */
main section p, main section ul {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}

/* Estilo para os itens de lista */
main section ul li {
    margin-bottom: 8px;
}

/* Estilo para o header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #BF6415;
    color: rgb(250, 250, 250);
    width: 100%;
    box-sizing: border-box;
}

.logo-nome {
    display: flex;
    align-items: center;
}

.logo {
    border-radius: 5px;
    height: 50px; /* ajuste a altura da logo conforme necessário */
    margin-right: 15px;
}

.nome {
    font-size: 1.5em;
    font-weight: bold;
}

/* Estilo para o botão à direita */
.button-back {
    position: absolute;
    top: 15px;
    left: 95%;
    padding: 10px 20px;
    background-color: #024059;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.button-back:hover {
    background-color: #475D8E;
}

/* Estilo para o rodapé */
footer {
    background-color: #BF6415;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    font-size: 1rem;
    box-sizing: border-box;
}

.social-media a {
    margin: 10px;
    color: white;
}

/* Estiliza a scrollbar no WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 12px;
    /* Largura da scrollbar */
}

/* Estiliza a parte interna da barra de rolagem */
::-webkit-scrollbar-track {
    background: #333;
    /* Cor do fundo da scrollbar */
}

/* Estiliza o thumb (o elemento que se move na barra de rolagem) */
::-webkit-scrollbar-thumb {
    background: #334B82;
    /* Cor do thumb */
    border-radius: 10px;
    /* Arredondamento das bordas */
}

/* Estiliza o thumb ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
    background: #475D8E;
    /* Cor do thumb ao passar o mouse */
}
